
{% extends "base.html" %}
{% block content %}


    <!-- Teams-Card Container -->
    <div class="container-block container">
    <div class="teams-start">
      <div class="responsive-container-block container">
        <div class="text-center md:max-w-xl lg:max-w-3xl mx-auto">
          <h3 class="text-3xl font-bold mb-6 text-gray-800" style="margin-top: 5em; margin-bottom: 1em; ">Meet The Team</h3>
         
      </div>
      <div class="responsive-container-block container">
        <h3 class="text-2xl font-bold mb-6 text-gray-600" style="margin-top: 1em; margin-bottom: 1em; ">Technical Team</h3>
      </div>
      <div class="responsive-container-block">
            {% for a in techteamdata %} 
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
              <div class="card">
                <div class="team-image-wrapper">
                  <img class="team-member-image" src="../media/{{a.tt_image}}">
                </div>
                <p class="text-blk name">
                  {{a.tt_name}}
                </p>
                <p class="text-blk position">
                 {{a.tt_teamname}}
                </p>
                <p class="text-blk feature-text">
                 {{a.tt_shortdesc}}
                </p>
                <div class="social-icons">
                  <a href="{{a.tt_insta}}" target="_blank" class="ml-3 text-gray-500 " style="user-select: auto;">
                    <svg fill="none" stroke="magenta" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24" style="user-select: auto;">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5" style="user-select: auto;"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01" style="user-select: auto;"></path>
                    </svg>
                  </a>
                  <a href="{{a.tt_linkedin}}" target="_blank" class="ml-3 text-gray-500 " style="user-select: auto;">
                    <svg fill="blue" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24" style="user-select: auto;">
                      <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z" style="user-select: auto;"></path>
                      <circle cx="4" cy="4" r="4" stroke="none" style="user-select: auto;"></circle>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        <div class="responsive-container-block container">
          <h3 class="text-2xl font-bold mb-6 text-gray-600" style="margin-top: 1em; margin-bottom: 1em; ">Content Writing Team</h3>
        </div>
          <div class="responsive-container-block">
            {% for n in contentteamdata %}
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
              <div class="card">
                <div class="team-image-wrapper">
                  <img class="team-member-image" src="../media/{{n.ct_image}}">
                </div>
                <p class="text-blk name">
                  {{n.ct_name}}
                </p>
                <p class="text-blk position">
                 {{n.ct_teamname}}
                </p>
                <p class="text-blk feature-text">
                  {{n.ct_shortdesc}}
                </p>
                <div class="social-icons">
                  <a href="{{n.ct_insta}}" target="_blank" class="ml-3 text-gray-500 " style="user-select: auto;">
                    <svg fill="none" stroke="magenta" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24" style="user-select: auto;">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5" style="user-select: auto;"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01" style="user-select: auto;"></path>
                    </svg>
                  </a>
                  <a href="{{n.ct_linkedin}" target="_blank" class="ml-3 text-gray-500 " style="user-select: auto;">
                    <svg fill="blue" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24" style="user-select: auto;">
                      <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z" style="user-select: auto;"></path>
                      <circle cx="4" cy="4" r="4" stroke="none" style="user-select: auto;"></circle>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
           
        <div class="responsive-container-block container">
          <h3 class="text-2xl font-bold mb-6 text-gray-600" style="margin-top: 1em; margin-bottom: 1em; ">Event Management Team</h3>
        </div>
        <div class="responsive-container-block">
            {% for b in eventteamdata %}
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
              <div class="card">
                <div class="team-image-wrapper">
                  <img class="team-member-image" src="../media/{{b.et_image}}">
                </div>
                <p class="text-blk name">
                 {{b.et_name}}
                </p>
                <p class="text-blk position">
                 {{b.et_teamname}}
                </p>
                <p class="text-blk feature-text">
                  {{b.et_shortdesc}}
                </p>
                <div class="social-icons">
                  <a href="{{b.et_insta}}" target="_blank" class="ml-3 text-gray-500 " style="user-select: auto;">
                    <svg fill="none" stroke="magenta" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24" style="user-select: auto;">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5" style="user-select: auto;"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01" style="user-select: auto;"></path>
                    </svg>
                  </a>
                  <a href="{{b.et_likedin}}" target="_blank" class="ml-3 text-gray-500 " style="user-select: auto;">
                    <svg fill="blue" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24" style="user-select: auto;">
                      <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z" style="user-select: auto;"></path>
                      <circle cx="4" cy="4" r="4" stroke="none" style="user-select: auto;"></circle>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
           
        <div class="responsive-container-block container">
          <h3 class="text-2xl font-bold mb-6 text-gray-600" style="margin-top: 1em; margin-bottom: 1em; ">Graphic Designing Team</h3>
        </div>
        <div class="responsive-container-block">
            {% for g in gdteamdata %}
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
              <div class="card">
                <div class="team-image-wrapper">
                  <img class="team-member-image" src="../media/{{g.gt_image}}">
                </div>
                <p class="text-blk name">
                 {{g.gt_name}}
                </p>
                <p class="text-blk position">
                 {{g.gt_teamname}}
                </p>
                <p class="text-blk feature-text">
                  {{g.gt_shortdesc}}
                </p>
                <div class="social-icons">
                  <a href="{{g.gt_insta}}" target="_blank" class="ml-3 text-gray-500 " style="user-select: auto;">
                    <svg fill="none" stroke="magenta" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24" style="user-select: auto;">
                      <rect width="20" height="20" x="2" y="2" rx="5" ry="5" style="user-select: auto;"></rect>
                      <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01" style="user-select: auto;"></path>
                    </svg>
                  </a>
                  <a href="{{g.gt_likedin}}" target="_blank" class="ml-3 text-gray-500 " style="user-select: auto;">
                    <svg fill="blue" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24" style="user-select: auto;">
                      <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z" style="user-select: auto;"></path>
                      <circle cx="4" cy="4" r="4" stroke="none" style="user-select: auto;"></circle>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
           
        
        </div>
      </div>
    </div>
  </div>
    {% endblock content %}

  